.calendar-header {
	padding-top: 20px;
	height: 50px;
}

.calendar-body {
	max-height: auto;
}

.current-time-line {
	position: relative;
	left: 16%;
	width: calc(100% - 16%);
	height: 2px;
	background-color: var(--ant-red);
	z-index: 2;
}

.time-column {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 10px;
	margin-top: -11px;
	border-right: 1px solid var(--ant-color-border);
}

.day-column-header {
	border-right: 1px solid var(--ant-color-border);
	padding-left: 10px;
}

.dates {
	display: flex;
	justify-content: space-between;
	padding-right: 10px;
}

.day-column {
	border-right: 1px solid var(--ant-color-border);
}

.hour-slot {
	height: 53px;
	border-top: 1px solid var(--ant-color-border);
	position: relative;
}

.hour-slot::after {
	content: '';
	position: absolute;
	bottom: 50%;
	left: 0;
	width: 100%;
	border-top: 1px dashed var(--ant-color-border);
}

.day-grid {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.hour-label {
	height: 53px;
}

.text-sm {
	font-size: 0.875rem;
}
