.calendar-container {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 102.5%;
	margin-left: 10%;
	border-top-left-radius: 30px;
	background-color: var(--ant-color-bg-base);
	box-shadow: 10px 20px 30px var(--ant-blue-10);
}
