.calendar-filter-container {
	display: flex;
	justify-content: center;
	padding: 20px 0px;
}

.calendar-select-date-and-year {
	display: flex;
}

.switch-week-by-week {
	display: flex;
	align-items: center;
	gap: 10px;
}
