.schoolone-auth-layout__main-panel {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--ant-padding);
	background-color: var(--ant-color-bg-layout);

	.ant-card {
		max-width: 500px;
		width: 100%;

		.ant-alert {
			margin-bottom: var(--ant-margin);
		}
	}
}
